@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite/dist/flowbite.css';
@import 'leaflet/dist/leaflet.css';
@import 'aos/dist/aos.css';

/* Your custom styles here */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

/* Add any other custom styles you had in main.css */