{% if current_resource %}
    {% if current_resource.resource.resource_type == 'VIDEO' %}
        <video controls class="w-full">
            <source src="{{ current_resource.resource.content.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    {% elif current_resource.resource.resource_type == 'DOCUMENT' %}
        <iframe src="{{ current_resource.resource.content.url }}" class="w-full h-[600px]"></iframe>
    {% elif current_resource.resource.resource_type == 'SCORM' %}
        <div id="scorm-player" data-scorm-url="{{ current_resource.resource.scorm_details.web_path }}" class="w-full h-[600px]"></div>
    {% elif current_resource.resource.resource_type == 'QUIZ' %}
        <div id="quiz-container" data-quiz-id="{{ current_resource.resource.id }}" class="w-full h-[600px]"></div>
    {% else %}
        <p class="p-4">Unsupported resource type</p>
    {% endif %}
{% else %}
    <p class="p-4">No resources available</p>
{% endif %}