{% autoescape off %}
Hello,

You're receiving this email because you requested a password reset for your user account at {% if organization and organization.name %}{{ organization.name }}{% else %}NextGenLMS{% endif %}.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this password reset, you can safely ignore this email.

Thanks for using our site!

The {% if organization and organization.name %}{{ organization.name }}{% else %}NextGenLMS{% endif %} team

{% endautoescape %}