{% for item in components %}
    <div class="component {% if item.component.program_course %}course{% else %}resource{% endif %}">
        {% if item.component.program_course %}
            <h3>{{ item.component.program_course.course.title }}</h3>
        {% else %}
            <h4>{{ item.component.learning_resource.title }} ({{ item.component.learning_resource.get_resource_type_display }})</h4>
        {% endif %}
        {% if item.children %}
            {% include 'users/learner/programs/delivery_components.html' with components=item.children %}
        {% endif %}
    </div>
{% endfor %}