{% extends '../_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <h1>{% trans "My Programs" %}</h1>
    <ul>
    {% for enrollment in enrollments %}
        <li>
            <a href="{% url 'learner_my_program_detail' enrollment.id %}">
                {{ enrollment.title }}
            </a>
            ({{ enrollment.enrollment_type }}) - {% trans "Status" %}: {{ enrollment.status }}
        </li>
    {% empty %}
        <li>{% trans "You are not enrolled in any programs." %}</li>
    {% endfor %}
    </ul>
{% endblock %}